@import './base.css';

#app {
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem;
  max-width: 65rem;
  height: fit-content;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 640px) {
    padding: 2rem;
  }
  @media screen and (min-width: 768px) {
    padding: 3rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 3rem;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0.5rem 1rem;
  margin: 0 auto;

  @media screen and (min-width: 640px) {
    padding: 0.5rem 1.25rem;
  }
  @media screen and (min-width: 768px) {
    padding: 0.5rem 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 0.5rem 1.75rem;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-dark-grey);
  border-right: 0 solid #e0e0e1;
  background-clip: padding-box;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

.max-w-13 {
  max-width: 13rem;
}

.max-w-12 {
  max-width: 12rem;
}

.max-w-11 {
  max-width: 11rem;
}

.max-w-10 {
  max-width: 10rem;
}

.max-w-9 {
  max-width: 9rem;
}

.max-w-8 {
  max-width: 8rem;
}
